@use "../forward" as *;

.title,
.subTitle {
  text-align: center;
}

.title {
  font-family: ptsans-bold, sans-serif;
  font-size: $size-text--title;
}

.subTitle {
  font-size: $size-text--base;
  color: $color-text--light;
}

.profiles {
  overflow-x: hidden;
}

.carousel {
  position: relative;
}

.more {
  @include fill-widget;
  display: block;
  margin: 34px auto 0 auto;
}

a{
  text-decoration: inherit;
}
