$font-size--root: 10px;

$color--base: #4dc43f;
$background-color--modal: #d9efd790;
$color-text--dark: #3d3d3d;
$color-text--light: #777777;
$background-color-input: #ededed;
$background-color-input-validate: #e2f9cd;
$active-color: black;
$sign-wall: #d9efd7;

$size-text--base: 1.1rem;
$size-text--title: 3rem;
$size-title: 3.4rem;
$size-form-link: 1.7rem;
$size-checkbox: 32px;
$circle-icon--size: 48px;

$organizator-card--bgcol: #f5f4f4;
$organizator-card--avatar-size: 200px;
$header--bgcol: white;

$gutter-small: 6px;

$transition-duration--short: 0.15s;
$transition-duration--long: 0.5s;
