textarea,
input {
    border: 0;
    font-size: 100%;
    color: inherit;
    text-decoration: inherit;
    vertical-align: baseline;
    outline: none;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}